body{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 500px;
	background: #222;
}
#text{
	text-align: center;
	padding-top: 200px;
	font-size: 50px;
	color: #fff;
}
.menu{
	width: 100%;
	height: 70px;
	background: #0076c0;
	margin-top: -16px;

}
.headhesive{
	position: fixed;
	width: 100%;
	height: 85px;
	transform: translateY(-100%);
	transition: 0.5s;
	background: #0076c0;
	opacity: 1;
  z-index: 2;
}
.headhesive--stick{
	transform: translateY(0);
}
.about{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;   
}
.about .mainblocks{
	width: 485px;
	height: 235px;
	margin: 250px 5px 0 0;
}
#photo{
  border: 1px solid #0076c0;
}
#h1{
	color: #111;
}
#textinfo{
	text-align: center;
	color: #111;
}
.image{
    margin-top: -15px;
    padding-right: 50px;
}
#text3{
	text-align: center;
	color: #111;
	margin-top: 50px;
	font-size: 50px;
}
.content{
	width: 100%;
	text-align: center;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content div{
	width: 100%;
	max-width: 500px;
	height: 300px;
  margin: 10px;   
}



p{
	font-size: 40px;
	color: #111;
}
.content div .bl_img:hover{
	transform: scale(1.1);
	transition: transform 0.4s linear 0.1s;
}
h1{
	margin: 0;
	padding: 0;
	margin-left: 1%;
	padding-top: 10px;
	color: #111;
}
li{
	display: inline-block;
	position: absolute;
	margin-top: 20px;
}
a{
	text-decoration: none;
	font-size: 25px;
	color: #fff;
  	display: inline-block;
  	width: 100px;
 	text-align: center;
 	height: 53px;
  	vertical-align: middle;
  	margin: -50px 10px auto;
  	padding-top: 18px;

}
a:hover{
	background: #f5f5f5f5;
	transition: 1s;
}





.text4{
	text-align: center;
	text-transform: uppercase;
}
.contacts{
	max-width: 100%;
	height: 150px;
	margin: 0 auto;
	background: #222;
	margin-top: 100px;
    
}
@media screen and (max-width: 1280px){
.headhesive{	
	max-width: 2000px;
	height: 100px;
	line-height: 50px;
}
a{

}
}
@media screen and (max-width: 1220px){
	.about{
		flex-direction: column;
	}
	.about .mainblocks{
		margin: 5px auto;
	}
  #photo{
    margin-top: 500px;
  }
	#name1{
		margin-top: 250px;
	}
}

@media screen and (max-width: 860px){

}	



.main{
  width: 500px;
  margin-left: -16px;
}

.wrapper .active {
  color: #0076c0;
  border-bottom: 1px solid #fff;
  background: #fff;
}

.tabs{
  margin-left: 1em;
  display: flex;
}

.tab{
  cursor: pointer;
  border: 1px solid #0076c0;
  border-radius: 3px 3px 0 0;
  padding: .5em 1em;
  display: inline-block;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
  background: #fff;
  width: 300px;
  font-size: 30px;
}
.tab_item {
  border: 1px solid #0076c0;
  border-radius: 3px;
  padding: 0 1em;
  width: 423px;
  height: 170px;
  margin-left: 16px;
  font-size: 30px;
}
